body {
  font-family: 'Libre Franklin', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
}

.header {
    border-bottom: 1px solid darkgray;
    right: 0;
    z-index: 1002;
    height: 60px;
    padding: 0 10px;
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.github-link {
  float: right;
  margin-right: 10px;
  font-size: 36px;
}

.main-col {
  padding-right: 5px;
}

.nav-menu {
  font-size: 25px !important;
}

.header > h1 {
  padding-left: 30px;
}

#sidebar {
    width: 230px;
    height: 100%;
    position: fixed;
    background: #1a2027;
    overflow-y: auto;
}

ul.sidebar-nav {
    margin-top: 100px;
    margin-left: 20px;
}

#sidebar ul {
    list-style-type: none;
}

#main-content {
    margin-left: 230px;
    line-height: 1.8;
    font-size: 14px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 15px 20px 15px 30px;
    width: 100%;
}

.toggle-nav {
    display: none;
}

#close-button {
    /*only applies for slide out menu*/
    display: none;
    cursor: pointer;
}

#close-button > i.fa-close {
  padding: 6px 0px;
  font-size: 36px;
}

.toc-label {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 500;
    color: #808080;
}

/* toc highlight for active menu */
#toc .nav > .active > a {
    font-weight: 700;
    border-left: 2px solid blue;
}
@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 30px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 52px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover {
    font-weight: 300;
    color: #f2f2f2;
    /*-webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;*/
    display: block;
}

/* active page */
ul.sidebar-menu li ul.sub li.active a {
    font-weight: 400;
    background: #737373;
}

ul.sidebar-menu li {
    line-height: 20px !important;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 16px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #f2f2f2;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    font-weight: 200;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    white-space: nowrap;
}

ul.sidebar-menu li a:focus {
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover {
  background: #404040;
  display: block;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
}

#sidebar ul > li > a .menu-arrow {
    float: right;
    margin-right: 8px;
}

/* anchors */
.anchor {
  color: #00bdf3;
  font-size: 0.5em;
  cursor:pointer;
  visibility:hidden;
  vertical-align: middle;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility:visible;
}
/* end anchors */

/* tagline */
.article-tagline {
  width: 100%;
  background: #f2f3f7;
  text-align: center;
  padding: 5px 20px 5px 20px;
}

.article-tagline > h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
}

.article-tagline > p {
  padding-bottom: 10px;
  font-size: 16px;
}

.tagline {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid darkgray;
}
/* end tagline */

.article-body {
  padding: 20px;
}

pre {
  /* bootstrap adds its own code styles */
  padding: 0px;
  position: relative;
}

/** callout **/
.callout {
  margin-top: 30px;
  margin-bottom: 30px;
}

.callout > table {
  width: 100%;
}

.callout.info > table {
  border: 2px solid #ccf5ff;
  background-color: #e6faff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.callout.tip > table {
  border: 2px solid #ffff99;
  background-color: #ffffcc;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.callout.warning > table {
  border: 2px solid #ff9980;
  background-color: #ffad99;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.callout-icon {
  text-align: center;
  width: 50px;
}

.callout-icon [class^="fa"] {
  font-size: 35px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.callout-content {
  color: rgba(0,0,0,0.6);
  padding: 10px 10px 5px 10px;
}
/** end callouts **/

/** toc **/
#TableOfContents.floating {
  position: fixed;
  top: 20px;
}

#TableOfContents > ul > li > ul, #TableOfContents > ul {
  list-style: none;
}

#TableOfContents > ul > li > ul > li {
  margin-bottom: 5px;
  /*border-left: 2px solid transparent;*/
}

#TableOfContents a {
  padding: 0px 5px;
}

#TableOfContents li.active {
  font-weight: 500;
}

#TableOfContents > ul > li > ul > li > a {
	display: inline-block;
	position: relative;
	padding-bottom: 1px;
}
#TableOfContents > ul > li > ul > li > a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	/*transition: width .3s ease, background-color .5s ease;*/
  transition: all 300ms ease 0s;
}
#TableOfContents > ul > li > ul > li > a:hover:after,
#TableOfContents > ul > li > ul > li.active > a:after {
	width: 100%;
	background: #4285F4;
}

#TableOfContents a {
  text-decoration: none;
  color: #1a2027;
  display: block;
}

#toc-nav {
  margin-left: -42px; /* todo why? */
}
/* end table of contents */

.bottom-nav {
  border-top: 1px solid lightgray;
  padding-top: 10px;
  margin-top: 40px;
}

.nav-footer .next {
  text-align: right;
}

/* tabbed code blocks */
/* taken from http://bootsnipp.com/snippets/featured/material-design-tab-style */
.nav-tabs {
  border-bottom: 2px solid #DDD;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}
.nav-tabs > li > a {
  border: none;
  color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #4285F4 !important;
  background: transparent;
}
.nav-tabs > li > a::after {
  content: "";
  background: #4285F4;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}
.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}
.nav-tabs > li > a {
  padding: 5px 10px;
}
.tab-pane {
  padding: 3px 0;
}
.code-tabs {
  border: 1px solid lightgray;
  padding: 0 10px;
  margin-bottom: 10px;
}
/* end tabbed code blocks */

pre .copy-to-clipboard {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #4d5257;
    /*background-color: #ffffff;
    color: black;*/
    color: #ccc;
    border-radius: 2px;
    width: 80px;
    height: 30px;
    /* vertical-align: middle; */
    text-transform: uppercase;
    letter-spacing: 1px;
    /* align-content: center; */
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
    font-size: 14px;
    opacity: 0.25
}

.copy-active, pre .copy-to-clipboard:hover  {
  /* todo this isn't right... */
  opacity: 1 !important;
}

.copy-to-clipboard:hover {
  cursor: pointer;
}
/*code + .copy-to-clipboard {
    margin-left: -1px;
    border-left: 0 !important;
    font-size: inherit !important;
    vertical-align: middle;
    height: 21px;
    top: 0;
    margin-left: -1px;
}*/

/* tooltips */
.tooltipped {
    position: relative;
}
.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
}
.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
    display: inline-block;
    text-decoration: none;
}
.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px;
}
.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-sw:after {
    margin-right: -15px;
}
.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px;
}
.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-nw:after {
    margin-right: -15px;
}
.tooltipped-s:after, .tooltipped-n:after {
    transform: translateX(50%);
}
.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    transform: translateY(50%);
}
.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translateY(50%);
}
.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(0, 0, 0, 0.8);
}
/* end tooltips */

/*Responsive styles*/
@media (max-width: 768px) {

    /* adjust sroll position in content area*/
    .scroll-pos {
         padding-top: 0px !important;
         margin-top: 0px !important;
    }
    #close-button {
        display: block;
        margin-right: 6px;
        color: #fff;
        text-align: right !important;
    }

    .header {
        position: absolute;
        width: 100%;
    }

    /*sidebar*/
    #sidebar {
        display: none;

    }
    .show-sidebar {
        z-index: 1003 !important;
        display: block !important;
    }

    .show-sidebar-nav {
        margin-top: 0px !important;
        margin-left: 0px !important;
        height: 100% !important;
    }
    .toggle-nav {
        display: block;
        float: left;
        padding-right: 5px;
        margin-top: 20px;
        cursor: pointer;
        color: gray;
    }

    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }

    /* sidebar */
    #sidebar {
        margin: 0px !important;
        width: 85%;
    }

    .btn {
        margin-bottom: 5px;
    }

    .article-tagline > h1 {
      font-size: 35px;
      margin-top: 70px;
    }
}
