<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ .Site.Params.title }}</title>

    <!-- Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/css/vendor/font-awesome.min.css" rel="stylesheet">
    <!-- TODO - download fonts locally -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,300,400,500,700|Montserrat|Work+Sans:100,400" rel="stylesheet">

    {{ if eq "monokai" .Site.Params.codeTheme }}
      <link href="/css/vendor/monokai-sublime.css" rel="stylesheet">
    {{ else if eq "github" .Site.Params.codeTheme }}
      <link href="/css/vendor/github.css" rel="stylesheet">
    {{ else }}
      <!-- <link href="/css/vendor/monokai-sublime.css" rel="stylesheet"> -->
    {{ end }}

    <link href="/css/theme.css" rel="stylesheet">
    </head>
